<!DOCTYPE html>
<html>
  <head>
    <title>Credit Card Fraud Detection Web App</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>
          <p style="text-align: center">Youtube spam comments detection using machine learning </p>
        </h1>
      </div>
    </header>

    <div class="ml-container">
  <p style="text-align: center">
    Enter the comment:
  </p>

  <form action="{{ url_for('predict')}}" method="POST">
    <!-- <input type="text" name="comment"/> -->
    <div class="justify">
      <textarea name="message" type="text" rows="8" cols="50"></textarea>
    </div>
    <br/>

    <input type="submit" class="btn-info" value="Predict" />
  </form>
</div>
<div>

      <a href="https://ibb.co/CH00kWT"><img src="https://i.ibb.co/crTTGx7/ram.png" alt="ram" border="0"></a>
      <br><br>
      <a href="https://ibb.co/88zgPdY"><img src="https://i.ibb.co/ryb25cd/Capture1.png" alt="Capture1" border="0"></a>
      <br><br>
      <a href="https://ibb.co/GtQ09bf"><img src="https://i.ibb.co/CMKz6Tp/Capture.png" alt="Capture" border="0"></a>
    </div>
  </body>
</html>
